@model Antonino.Models.Orders

@{
    ViewBag.Title = "Index";
}

<div class="row">
  <div class="col-xs-8">
    <h2 style="text-align:center;">Orders</h2>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Kid</th>
      <th>Request Date</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var order in Model.EntityList)
    {
      <tr>
        @switch (Session["isAdmin"])
        {
          case true:                
                <td>
                  @Html.DisplayFor(model => order.Kid)
                </td>
                <td>
                  @Html.DisplayFor(model => order.RequestDate)
                </td>
            break;
          case false:
                <td>
                  @Html.ActionLink(order.Kid, "Details", new { id = order.ID })
                </td>
                <td>
                  @Html.ActionLink(order.RequestDate.ToString("dd-MMM-yyyy"), "Details", new { id = order.ID })
                </td>
            break;
          default:
            break;
        }       
      </tr>
    }
  </tbody>
</table>

