@model Antonino.Models.Toys

@{
    ViewBag.Title = "Index";
}

<div class="row">
  <div class="col-xs-8">
    <h2 style="text-align:center;">Toys</h2>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var toy in Model.EntityList)
    {
      var colorAmount = "enough-toys";
      if(toy.Amount == 0)
      {
        colorAmount = "out-of-stock";
      }
      if (toy.Amount > 0 && toy.Amount <= 5)
      {
        colorAmount = "last-pieces";
      }
      <tr>
        <td class="@colorAmount">
          @Html.DisplayFor(model => toy.Name, new { @class = colorAmount })
        </td>
        <td class="@colorAmount">
          @Html.DisplayFor(model => toy.Amount)
        </td>
      </tr>
    }
  </tbody>
</table>