@import "variables.scss";

body {
  background-color: $color-bodyBackground;
  color: $font-primary-color;
}

.navbar-inverse {
  background-color: $color-primary;

  .navbar-brand {
    color: $font-primary-color;

    &:hover {
      color: $font-secondary-color
    }
  }

  .navbar-nav {
    li {
      a {
        color: $font-primary-color;

        &:hover {
          color: $font-secondary-color
        }
      }
    }
  }

  .navbar-right {
    
      .btn-default {
        background-color: $color-primary;
        color: $font-primary-color;
        border-color: $font-primary-color;
        vertical-align: middle;
        margin-top: 9px;

        &:hover {
          color: $font-secondary-color;
          border-color: $font-secondary-color;
        }
      }    
  }
}

.panel {
  background-color: $color-primary;

  .btn-primary {
    background-color: $color-primary;
    color: $font-primary-color;
    border-color: $font-primary-color;

    &:hover {
      color: $font-secondary-color;
      border-color: $font-secondary-color;
    }
  }
}

.out-of-stock {
  color: $font-secondary-color;  
}

.last-pieces {
  color: #ffe389;
}

.enough-toys {
  color: $font-primary-color;
}

.btn-primary {
  background-color: $color-primary;
  color: $font-primary-color;
  border-color: $font-primary-color;

  &:hover {
    color: $font-secondary-color;
    border-color: $font-secondary-color;
    background-color: $color-bodyBackground;
  }
}


