@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Santa Claus Main Post Office<br />
    Tähtikuja 1, FI-96930 Napapiiri<br />
    <abbr title="Phone">Tel:</abbr>
      020 4523 120
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">ziggy.stardust@santa.com</a><br />
    <strong>Cookies:</strong> <a href="mailto:Marketing@example.com">santa.claus@santa.com</a>
</address>